/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}
h3 {
    text-align: end;
    padding-right: 10%;
    font-weight: lighter;
}
.grid-wrapper {
    display: grid;
    width: 20rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
}
.display {
    grid-column: 1/5;
    border: 2px solid grey;
    height: 4rem;
    width: 95%;
    text-align: end;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: greenyellow;
    margin: 0 auto;
    
}

.equals {
    grid-column: 4/5;
    grid-row: 3/7;
}
.outer-border {
    border: 3px solid grey;
    width: fit-content;
    margin: 0 auto;
    background-color: lightgray;
}
.clear {
    background-color: rgb(231, 119, 119);
}
.equals {
    background-color: lightblue;
}
button {
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 1.5rem;
}